

body {
    margin: 0;
    padding: 0;
    border: 0;
}




p {
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}


.icone-menu {
    display: none;


}

.container {
    max-width: 1600px;
    margin: 0 auto;


}

/* navegador*/
nav {

    height: 40px;
    background-color: #000000;

}

.nav-nav {
    max-width: 1600px;
    margin: 0 auto;




}



.contato-nav li {
    list-style-type: none;
    display: inline-block;



}


.icone-nav li {
    display: inline-block;

    list-style-type: none;


}

.icone-nav {
    float: right;


}

nav ul li a {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;

}

nav ul :hover {

    color: rgb(255, 17, 4);
    transition: 1s;

}

.typing-effect {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    animation: typing 4s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

/* web*/

.web-entrada {
    margin: 0px 220px;
    margin-top: 100px;

}

.web-entrada span {
    color: red;
    font-size: 20px;



}


.web {
    padding: 200px;
    padding-bottom: 360px;

}

.destaque-web .perfil {
    width: 200px;
    float: right;
    border-radius: 100px;



}

.web-entrada li {
    list-style-type: none;

}

.destaque-web button {
    border-radius: 10px;
    background: #040303;

    &:hover {
        box-shadow: 10px 5px 5px rgb(99, 97, 97);
        background: red;
        transition: 1s;
    }

}

.destaque-web button a {
    text-decoration: none;
    color: white;



}


/* sobre*/
article h1 {
    text-align: center;
    border: solid 1px black;
    background: #000000;
    color: white;
    max-width: 1600px;
    margin: 0 auto;
}

article p {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;


}



/* web*/
caption {
    border: solid 1px black;
}


section ul li {
    list-style-type: none;
}

.habilidades {

    margin:  auto;
 box-sizing: border-box;

}

.linguagens {
    margin: 50px 190px;
    margin-top: 15px;

}


.habilidades ul li {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;

}

.habilidades h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    max-width: 1456px;
    background: #000000;
    
    margin: 0 auto;
    
}

.habilidades,img:hover{

    transform: scale(1.1);
    
   
}

/* Portifolio*/
.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 1600px;
    margin: 0 auto;
   
}

.portifolio h1 {
    color: white;
    text-align: center;
    background-color: #000000;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 320px;
}

.project .content {
    padding: 20px;
}

.project h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.project .button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project .button:hover {
    background-color: #555;
}



.portifolio span button a {
    text-decoration: none;
    color: white;



}

.img_projetos {
    margin: 0 auto;
    border-radius: 20px;
}

/* contato*/

footer h1 {


    margin: 0 auto;
}

/* Estilos básicos para o contêiner da imagem */
.image-container {
    width: 300px;
    /* Defina a largura desejada para o contêiner */
    height: 200px;
    /* Defina a altura desejada para o contêiner */
    overflow: hidden;
    /* Ocultar partes da imagem que excedem os limites do contêiner */
    border-radius: 10px;
    /* Tornar os cantos do contêiner arredondados, opcional */

}

/* Estilos para a imagem */
.image-container img {
    width: 100%;
    /* A imagem preenche toda a largura do contêiner */
    height: 100%;
    /* A imagem preenche toda a altura do contêiner */
    transition: transform 0.3s ease;
    /* Suavizar o efeito de transformação */
}

/* Estilos aplicados à imagem quando o mouse está sobre ela */
.image-container img:hover {
    transform: scale(0.9);
    /* Aumentar a imagem em 20% */
}

/*mobile*/
@media (max-width:640px) {

    .contato-nav{
   display: grid;
  background: #000000;
  
   
}

    .contato-nav ul li {
        color: red;
    }

    .destaque-web {
        height: 150px;

        justify-content: center;

    }

    .web-entrada {
        margin: 0 auto;



    }

    .web {

        height: 850px;
    }

    .web-entrada h1 {
        
        text-align: center;
        height: 110px;
    }

    .web .perfil {
        display: flex;
        border-radius: 100%;
        width: 35%;
        margin: 0 auto;
    }

    .destaque-web button {
        display: flex;
        margin: 0 auto;
        margin-bottom: 10px;


    }

    /* Sobre*/
   



    .linguagens {

        margin: 0 auto;

    }

    .linguagens img {
    justify-content: space-around;
        margin-left: 30px;
        
    }



    /* Projetos*/


    .imagem1 {
        background-image: url(img/imc.png)no-repeat;
    }

    .icone-menu {
        display: block;
    } }